.category {
  padding-left: 20px;
}
.category h1 {
  text-align: center;
}
.category__container {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  grid-row-gap: 1em;
  display: grid;
  width: 100%;
}
aside {
  width: 20%;
  // outline: 1px solid rgb(24, 207, 7);  
}
aside ul {
  margin: 1em 2em;
}
