.footer{
  // outline: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #45BDCF;
  height: 3rem;
  margin-top:auto; 
  vertical-align: middle;
  text-align: center;
  width: 100%;
}