.header {
  height: 5rem;
  display: flex;
  flex-direction: column;
  height: 110px;
}
.header__content {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;;
}
.header__content-logo {
  height: 100%;
  width:150px;
  object-fit: cover;
}

.header__content__search {
  width: 70%;
  text-align: center;
}

.header__content__search input {
  color: white  ;
  background-color: #45BDCF;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 16px;
  height: 40px;
  padding: 0px 20px;
  width: 70%;
  outline-style: none;
  margin-top: 10px;
}

.header__content__profile {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header__content__profile img {
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  object-fit: cover;
}

.header__content__menu  {
  display: flex;
  background-color: black;
  color: #45bdcf;
  height: 40px;;
}

.header__content__menu-item {
  list-style: none;
  flex: 1;
  outline: 1px solid black;
  line-height: 3rem;
  text-align: center;
  vertical-align: middle;
}
