.news-item {
  /* width: 200px;
  height: 250px; */
  width: 430px;
  height: 280px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  -webkit-transform-origin: center left;
  position: relative;
  font-size: 20px;
}

.news-item:hover ~ .news-item {
  transform: translate3d(100px, 0, 0);
  -webkit-transform: translate3d(100px, 0, 0);
}

.news-item__img {
  /* width: 200px;
  height: 250px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.news-item__details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.news-item__details--img {
  width: 20px;
}

.news-item:hover .news-item__details {
  opacity: 1;
}

.news-item__details--title {
  color: white;
  margin: 5px 0px 0px 0px;
}

.news-item__details--subtitle {
  color: white;
  font-size: 8px;
  margin: 3px 0px;
}
